{% extends 'base.html' %}

{% block title %}
- categories
{% endblock title %}

{% block content %}
    <h1>categories</h1>
    <p>to search <b>#LESS</b> challenges that suits you best</p>
        <div class="row g-2 py-1 row-cols-1 row-cols-lg-5 row-cols-md-4 row-cols-sm-auto">
            {% for category in object_list %}
                <div class="row my-3 mx-0">
                    <a class="btn btn-outline-dark" href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
                </div>
            {% endfor %}
        </div>
{% endblock content %}
