{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Is ZERO WASTE or LESS WASTE your goal?</h1>
    <p>how to start and not stop after one week?</p>
    <div class="row-cols-2">
        <div class="col-8">
            <img src="{% static 'images/reduce reuse recycle.jpg' %}" class="img-re float-end" alt="re-img">
            <h3 class="text mt-3 mb-3">remember the simple 6xR rule:</h3>
            <div class="text">
                <p>REfuse</p>
                <p>REduce</p>
                <p>REuse</p>
                <p>REcycle</p>
                <p>REpair</p>
                <p>Rot</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-8">
            <div class="card-text mx-4 mt-5">
                <p>
                    Przerabianie na świecznik każdego słoiczka po koncentracie pomidorowym...<br>
                    Całkowita rezygnacja ze środków czystości na rzecz czyszczenia za pomocą sody i octu...<br>
                    A jeśli chipsy, to tylko z obierków po ziemniakach...<br>
                </p>
                <p>
                    Jeśli właśnie z tym kojarzy Ci się hasło <i>less waste</i>, czas zweryfikować wyobrażenia.<br>
                    Chcesz wiedzieć jak zacząć marnować mniej bez przeprowadzania życiowej rewolucji?<br>
                    Podpowiemy jak wprowadzić zmiany z korzyścią dla naszej planety i portfela!</p>
                <p>
                    Rozsądne podejście do ograniczania marnowanych dóbr i wytwarzanych śmieci wiąże się
                    z racjonalnym korzystaniem z zasobów. Warto przyjrzeć się swoim codziennym wyborom
                    i odpowiedzieć sobie na pytanie: „czego tak naprawdę potrzebuję?”.
                </p>
                <hr>
                <p>
                    Making each jar of tomato paste into a candlestick...<br>
                    Total abandonment of cleaning products in favor of cleaning with soda and vinegar...<br>
                    And if the chips, then only from potato peelings...<br>
                </p>
                <p>
                    If this is what you associate the less waste slogan with, it's time to verify your ideas.<br>
                    Want to know how to start wasting less without revolutionizing your life?<br>
                    We will suggest how to make changes for the benefit of our planet and wallet!
                </p>
                <p>
                    A sensible approach to reducing wasted goods and the amount of rubbish produced does involve
                    with rational use of resources. It's worth taking a look at your daily choices
                    and answer the question "what do I really need?"
                </p>
                <hr>
            </div>
            <div class="card-text text-muted mx-4">
                <p class="float-end">from website:
                    <a href="https://www.fide.pl/informacje/pozostale/less-waste/" target="_blank">
                    https://www.fide.pl/
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
