{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
- profile
{% endblock title %}

{% block content %}
    <div class="col-md-6">
        <h1 class="account-heading mb-4">{{ user.username }}</h1>
        <p class="text-secondary">{{ user.email }}</p>
        <div class="col-md-12 d-inline-block">
            <h1 class="text">points:
            <button class="btn btn-outline-success disabled float-md-end pb-2">
                <h1 class="m-1"><b>{{ user.profile.points }}</b></h1>
            </button>
            </h1>
        </div>
    </div>
    <div class="col-md-6 mt-4">
        <form method="POST">
        {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile info</legend>
            {{ u_form|crispy }}
            </fieldset>
            <div class="form-group pt-2 pb-2">
                <button class="btn btn-outline-success" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
